<p style="color: green"><%= notice %></p>

<div class="specific_user">
  <%= render 'shared/user', user: @user%>
  <div class="bio_section">
    <h2>Bio</h2>
    <%=@user.bio%>
  </div>
  <div class="post_section">
    <h2>User Posts</h2>
    <% @user.most_recent_post.each do |post| %>
      <%= render 'shared/post', post: post%>
    <% end %>
    <div>
      <button class='user_button'>
        <%= link_to 'See all posts', user_posts_path(@user) %>
      </button>
    </div>
  </div>
<div>

