<p style="color: green"><%= notice %></p>

<div>
  <h1><%=@user.name%></h1>
  <%@user.post_counter%>
</div>
<div><%=@user.bio%><div>
<div>
  <% @user.posts.each do |post| %>
    <h2><%= post.title %></h2>
    <div><%= post.text %></div>
    <div>
    <div>comments<%=post.comments_counter%></div>
    <div>likes<%=post.likes_counter%></div>
    </div>
  <% end %>
</div>

