<p style="color: green"><%= notice %></p>

<div>
<h1><%=@user.name%></h1>
<h2>All User Posts<h2>
<div>Number of post: <%=@user.post_counter%></div>
</div>


<div id="posts">
  <% @posts.each do |post| %>
    <p>
     <div>
      <h2><%=post.title%></h2>
      <p><%=post.text%></p>
      <div>
        <p>Number of Comments: <%=post.comments_counter%></p>
        <p>Number of Likes: <%=post.likes_counter%></p>
      </div>
     </div>
     <div>
       <%post.most_recent_comments.each do |comment|%>
          <p><%=comment.text%></p>
       <% end %>
     </div> 
    </p>
  <% end %>
</div>

