<p style="color: green"><%= notice %></p>

<div class="post_main_container">
  <div>
    <%= render 'shared/user', user: @user%>
  </div>
  <h2>All User Posts</h2>
  <div id="posts">
    <% @posts.each do |post| %>
      <p>
        <div>
          <%= render 'shared/post', post: post%>
        </div>
        <div class="comments">
          <%post.most_recent_comments.each do |comment|%>
            <div class="user_comment">
              <p>User: <%=comment.author_id%></p>
              <p>Comment: <%=comment.text%></p>
            </div>
          <% end %>
        </div> 
      </p>
    <% end %>
</div>
</div>
