<%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :new_post do |form| %>
    <% if @post.errors.any? %>
<div style="color: red">
    <% @post.errors.full_messages.each do |message| %>
        <div> <%= message %> </div>
    <% end %>
</div>
<% end%>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :text %><br>
        <%= form.text_area :text, rows: "5" %>
    </div>

   <%= form.submit "Add Post" %>
<% end %>